:root {
	--blue-dark:rgb(10,15,35);
	--blue-medium:rgb(30,30,45);
	--blue-light:rgb(40,40,55);
	--blue-lighter:rgb(20,40,90);
	--purple-dark:rgb(18,12,39);
	--purple-medium:rgb(32,23,70);
	--purple-light:rgb(55,37,89);
	--purple-lighter:rgb(80,66,140);
	--text-darker:rgb(200,200,200);
	--text-dark:rgb(230,230,230);
	--text-medium:rgb(240,240,240);
	--text-light:rgb(255,255,255);
	--red:rgb(240,20,20);
	--shadow-dark:0 0 10px rgba(0,0,0,0.2);
	--shadow-darker:0 0 10px rgba(0,0,0,0.4);
	--font-family:"Helvetica Neue", "Lucida Grande", "Arial", "Verdana", "Tahoma", sans-serif;
}
html {
	font-family:var(--font-family);
}
body {
	background:var(--purple-medium);
	color:rgb(75,75,75);
	margin:0;
	padding:0;
	overflow:hidden;
}
button, input, svg {
	border:none;
	outline:none;
	transition:background 0.25s, color 0.25s, fill 0.25s;
}
.noselect {
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	outline:none;
}
.hidden {
	display:none;
	visibility:hidden;
	position:absolute;
	z-index:-1;
}
::-webkit-scrollbar {
	display:block;
	width:12px;
	background:none;
}
::-webkit-scrollbar-thumb {
	border-radius:4px;
	background:var(--text-light);
}
::-webkit-scrollbar-thumb:hover {
	background:var(--text-darker);
}
::-webkit-scrollbar-track {
	background:none;
}

.titlebar {
	position:absolute;
	top:0;
	left:0;
	z-index:99;
	width:100%;
	height:40px;
	background:none;
	-webkit-app-region:drag;
}
.title-text {
	font-weight:bold;
	position:absolute;
	font-size:20px;
	display:block;
	line-height:40px;
	padding-left:10px;
	width:calc(200px - 10px);
	color:var(--text-light);
}
.title-button {
	padding:4px;
	border-radius:50%;
	overflow:hidden;
	background:var(--purple-medium);
	position:absolute;
	height:28px;
	width:28px;
	-webkit-app-region:no-drag;
	top:6px;
}
.title-button svg {
	fill:var(--text-light);
	width:75%;
	height:75%;
}
.title-button.diagnostics {
	left:205px;
}
.title-button.diagnostics svg {
	width:70%;
	height:70%;
}
.title-button.minimize {
	right:78px;
}
.title-button.minimize svg {
	width:62%;
	height:62%;
	margin-top:3px;
}
.title-button.maximize {
	right:42px;
}
.title-button.maximize svg {
	width:62%;
	height:62%;
	margin-top:2px;
}
.title-button.quit {
	right:6px;
}
.title-button.quit svg {
	margin-top:2px;
}
#desktop .title-button:hover {
	background:var(--purple-dark);
}
#desktop .title-button.quit:hover {
	background:var(--red);
}

.sidebar {
	background:var(--purple-dark);
	width:200px;
	height:calc(100% - 40px);
	padding-top:40px;
	top:0;
	left:0;
	position:absolute;
	z-index:98;
	box-shadow:var(--shadow-darker);
}
.sidebar-button {
	display:block;
	width:100%;
	height:60px;
	padding-top:5px;
	background:none;
	text-align:left;
	font-size:16px;
	font-weight:bold;
	color:var(--text-light);
}
#desktop .sidebar-button:hover, .sidebar-button.active {
	background:var(--purple-light)
}
.sidebar-button.active {
	pointer-events:none;
}
.sidebar-button svg {
	fill:var(--text-light);
	width:28px;
	height:28px;
	padding:0 15px 0 10px;
	vertical-align:middle;
	margin-top:-4px;
}
.sidebar-button.settings {
	position:absolute;
	bottom:0;
	left:0;
}

.listview, .settings-wrapper {
	position:absolute;
	z-index:90;
	top:40px;
	right:0;
	overflow-x:hidden;
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
	scroll-behavior:smooth;
	width:calc(100% - 200px);
	height:calc(100% - 40px);
	background:var(--purple-medium);
	background:linear-gradient(270deg, var(--purple-medium) 0%, var(--purple-dark) 100%);
	background:-webkit-linear-gradient(270deg, var(--purple-medium) 0%, var(--purple-dark) 100%);
}
.listview.active {
	height:calc(100% - 40px - 100px);
}
.list-item {
	display:block;
	width:calc(100% - 40px - 40px);
	padding:20px;
	margin:20px;
	position:relative;
	overflow:hidden;
	border-radius:10px;
	background:var(--purple-dark);
	background:linear-gradient(120deg, var(--purple-dark) 35%, var(--purple-light) 100%);
	background:-webkit-linear-gradient(120deg, var(--purple-dark) 35%, var(--purple-light) 100%);
	box-shadow:var(--shadow-darker);
}
.list-item:first-of-type {
	margin-top:0;
}
.list-item span {
	font-size:16px;
	color:var(--text-light);
	display:inline-block;
	vertical-align:top;
}
.list-item .title {
	font-weight:bold;
	width:calc(100% - 150px - 60px - 100px - 200px - 150px - 60px);
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	padding-right:60px;
	margin-left:40px;
}
.list-item .album {
	width:150px;
	padding-right:60px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.list-item .artist {
	width:150px;
	padding-right:60px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.list-item .duration {
	width:100px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.list-item svg {
	fill:var(--text-light);
	width:28px;
	height:28px;
	vertical-align:middle;
	position:absolute;
	top:calc(50% - 28px / 2);
	transition:transform 0.25s;
}
#desktop .list-item svg:hover {
	transform:scale(0.95);
}
.list-item svg:nth-of-type(1) {
	left:15px;
}
.list-item svg:nth-of-type(2) {
	right:10px;
}

.settings-wrapper {
	z-index:91;
	font-size:0;
	display:none;
}
.settings-wrapper .section {
	display:inline-block;
	vertical-align:top;
	width:calc(50% - 40px - 30px);
	padding:20px;
	margin:20px 0 0 20px;
	position:relative;
	border-radius:10px;
	background:var(--purple-dark);
	background:linear-gradient(20deg, var(--purple-lighter) 35%, var(--purple-light) 100%);
	background:-webkit-linear-gradient(20deg, var(--purple-lighter) 35%, var(--purple-light) 100%);
	box-shadow:var(--shadow-darker);
}
.settings-wrapper .section:last-of-type {
	margin-bottom:20px;
}
.section-title {
	font-size:18px;
	font-weight:bold;
	display:block;
	color:var(--text-light);
}
.input-wrapper {
	display:block;
	font-size:0;
}
.input-field {
	display:inline-block;
	width:calc(100% - 200px);
	padding:0 10px 0 10px;
	margin-top:20px;
	margin-right:10px;
	height:40px;
	border-radius:10px;
	vertical-align:top;
	font-size:16px;
	box-shadow:var(--shadow-darker);
	color:var(--text-light);
	background:var(--purple-dark);
}
.input-field::placeholder {
	color:var(--text-darker);
}
.input-button, .input-choice {
	display:inline-block;
	padding:0 20px 0 20px;
	margin-top:20px;
	margin-right:10px;
	height:40px;
	border-radius:10px;
	vertical-align:top;
	font-size:16px;
	color:var(--text-light);
	background:var(--purple-dark);
	box-shadow:var(--shadow-darker);
}
#desktop .input-button:hover, #desktop .input-choice:hover {
	background:var(--purple-medium);
}
.input-choice.active {
	pointer-events:none;
	background:var(--purple-light);
}
#desktop .input-choice.active:hover {
	background:var(--purple-light);
}