@media screen and (min-width:600px) {
	.audio-volume-slider {
		width:180px;
	}
	.audio-player .no-volume-icon, .audio-player .low-volume-icon, .audio-player .high-volume-icon {
		left:calc(25px + 180px + 10px);
	}
}
@media screen and (min-width:1100px) {
	.block-item {
		width:calc(100% / 3 - 40px - 40px);
		height:calc((100vw - 200px) / 3 - 40px - 40px - 50px);
	}
}
@media screen and (min-width:1280px) {
	.block-item {
		width:calc(100% / 4 - 40px - 40px);
		height:calc((100vw - 200px) / 4 - 40px - 40px - 40px);
	}
}

@media screen and (max-width:1100px) {
	.list-item .title {
		width:calc(100% - 150px - 60px - 100px - 200px - 100px);
		padding-right:30px;
	}
	.list-item .album {
		padding-right:30px;
	}
	.list-item .artist {
		padding-right:30px;
	}
}
@media screen and (max-width:990px) {
	.list-item .title {
		width:calc(100% - 150px - 60px - 100px - 150px);
	}
	.list-item .album {
		display:none;
	}
}
@media screen and (max-width:860px) {
	.list-item .title {
		width:calc(100% - 150px - 60px - 100px);
	}
	.list-item .duration {
		display:none;
	}
	.block-item {
		width:calc(100% / 2 - 40px - 40px);
		height:calc((100vw - 200px) / 2 - 40px - 40px - 40px);
	}
}
@media screen and (max-width:750px) {
	.titlebar {
		width:calc(100% - 60px);
		left:60px;
	}
	.title-text {
		display:none;
	}
	.title-button.refresh {
		left:6px;
	}
	.sidebar {
		padding-top:0;
		height:100%;
		width:60px;
	}
	.sidebar-text {
		display:none;
	}
	.sidebar-search {
		display:none;
	}
	.listview {
		width:calc(100% - 60px);
	}
	.list-item .title {
		width:calc(100% - 80px);
	}
	.list-item .artist {
		display:none;
	}
	.block-item {
		min-height:200px;
	}
	.block-item svg {
		width:120px;
		height:120px;
		left:calc(50% - 120px / 2);
	}
	.audio-player, .audio-banner-wrapper {
		width:calc(100% - 60px);
	}
}
@media screen and (max-width:400px) {
	.audio-duration.time-passed {
		left:10px;
	}
	.audio-duration.time-total {
		left:calc(25% + 70px + 10px + 15px);
	}
	.audio-slider {
		left:105px;
	}
	.audio-volume-slider {
		left:10px;
	}
	.audio-player .no-volume-icon, .audio-player .low-volume-icon, .audio-player .high-volume-icon {
		left:calc(50% - 30px - 30px - 30px + 20px);
	}
	.audio-player svg {
		right:50px;
	}
	.audio-player .loop-icon {
		right:10px;
	}
	.audio-player .previous-icon {
		right:90px;
	}
	.audio-player .next-icon {
		right:10px;
	}
}