<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/resize.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <script src="../assets/js/main.js"></script>
        <meta charset="UTF-8">
        <title>X:/Music</title>
    </head>
    <body>
        
    </body>
</html>